.Container {
  margin: 5px 0px;
  grid-template-columns: auto auto auto auto;
  display: grid;
  position: relative;
  padding: 15px;
  cursor: default;
  touch-action: none;
  background-color: #355764;
  border-radius: 12px;
  width: 500px;
  height: 500px;
}

.Cell-Style {
  width: 106.25px;
  height: 106.25px;
  margin-right: 25px;
  margin-top: 5px;
  border-radius: 25px;
  background-color: rgb(61, 41, 99);
}
.Congratulation {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 50px;
}
.Counter {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  display: inline-block;
  font-weight: bold;
}
.Buttons-Container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
